<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <source>
    <include>
      <directory suffix=".php">src/core/services</directory>
    </include>
    <exclude>
      <file>src/core/services/PagamentoService.php</file>
      <file>src/adapters/db/external/MongoConnection.php</file>
      <file>src/adapters/db/external/MongoRepository.php</file>
      <file>src/controllers/CardapioController.php</file>
      <file>src/controllers/PedidoController.php</file>
    </exclude>
  </source>
</phpunit>
